<html>
    <head>
     <title>
         <%=locals.name%>
     </title>
     
    </head>
    <body>
        <p>Playground</p>
        <%
        for(let i=0;i<5;i++)
        {%>
         <ul> 
        <li><%=i %></li>
         </ul>
        <%}
        if(true)
        {%>
         <h1>True!</h1>
         <%}
         else
         {%>
          <h1>False</h1>
         <%}
        %>
    </body>
</html>